<div class="form-section">
    <form action="/subcategory/add" enctype="multipart/form-data" method="post">
     <div class="form-group">
       <input type="text" name="name" class="form-control" id="name">
     </div>
     <div class="form-group">
      <input type="file" name="picture" class="form-control" id="picture">
     </div>
     <div class="form-group">
       <select name="category" class="form-control" id="">
           <option value="0">--Select--</option>
           {{#each categories}}
            <option value="{{this.id}}">{{this.name}}</option>
           {{/each}}
       </select>
     </div>
     <div class="form-group text-center">
        <button type="submit" class="btn btn-primary">Create</button>
     </div>
    </form>
</div>
<div class="table-section ">
  <table class="table text-center">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Category</th>
        <th scope="col">Picture</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      {{#each subcategories}}
      <tr>
        <th scope="row">{{this.id}}</th>
        <td>{{this.name}}</td>
        <td>{{this.category}}</td>
        <td><img src="{{this.picture}}" alt=""></td>
        <td><button type="submit" class="btn btn-primary">Edit</button> &nbsp; <button type="submit" class="btn btn-danger">Delete</button></td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>